@import "~prismjs/themes/prism-okaidia.css";
@tailwind base;

.container-inner {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-info0 {
    background-color: #e7f5ff;
}

@media (min-width: 640px) {
    .container-inner {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container-inner {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container-inner {
        max-width: 1000px;
    }
}

.custom-block.tip {
    background-color: #f3f5f7;
    border-color: #68d391;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

p {
    margin-bottom: 10px;
}

.timeline {
    text-align: left;
    width: 100%;
}
.timeline .wrapper-timeline {
    position: relative;
}
.timeline .wrapper-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 20px;
}
.timeline .wrapper-item .section-year {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}
.timeline .wrapper-item .section-year .year {
    margin: 0;
}
.timeline .wrapper-item.unique-timeline {
    margin-bottom: 0;
}

.timeline-item .item {
    border-left: 5px solid #68d391;
    padding: 20px 0 20px 15px;
    position: relative;
}
.timeline-item .month-item {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}
.timeline-item .title-item {
    margin: 0;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 500;
}
.timeline-item .description-item {
    font-weight: 100;
    margin: 0;
}
.timeline-item .dot {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: -10px;
    top: 26px;
    background: #68d391;
}


@tailwind components;

@tailwind utilities;
