@import "~prismjs/themes/prism-okaidia.css";
@tailwind base;

.container-inner {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-info0 {
    background-color: #e7f5ff;
}

@media (min-width: 640px) {
    .container-inner {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container-inner {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container-inner {
        max-width: 1000px;
    }
}

@tailwind components;

@tailwind utilities;
