@import "~prismjs/themes/prism-okaidia.css";
@tailwind base;

.container-inner {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-info0 {
    background-color: #e7f5ff;
}

@media (min-width: 640px) {
    .container-inner {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container-inner {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container-inner {
        max-width: 1000px;
    }
}

.custom-block.tip {
    background-color: #f3f5f7;
    border-color: #68d391;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}


@tailwind components;

@tailwind utilities;
